[Unit]
Description=Digital_Led_Strip_MQTT
Wants=network.target mosquitto.service
After=network.target mosquitto.service

[Service]
ExecStart=/home/pi/Digital_Led_Strip_MQTT/app.py
Restart=always

[Install]
WantedBy=default.target
